body
{
	font-family: Avenir-light;
	color: #4a4a4a;
	margin: 0;
	
}
.home_container{
	background: url(../images/bg_img.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* .navbar-brand img{
		width: 200px;
	} */
html{
	width: 100%;
	height: 100%;
}
/* reset style starts here */
.no_left_pad{
	padding-left: 0;
}
.no_right_pad{
	padding-right: 0;
}
.no_lr_pad{
	padding-left: 0;
	padding-right: 0;
}
.top_padding{
	padding-top: 15px;
}
.tb_padding{
	padding-top: 15px;
	padding-bottom: 15px;
}
.no_lr_margin{
	margin-left: 0;
	margin-right: 0;
}
.top_pad{
	padding-top: 25px;
}
.tb_pad{
	padding-top: 25px;
	padding-bottom: 25px;
}
.bottom_pad{
	padding-bottom: 25px;
}
.top_mar{
	margin-top: 20px;
}
.text-clip
	{
    	word-wrap:break-word;
    	white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
::-webkit-input-placeholder {color: #c9c9c9;}
:-moz-placeholder {color: #c9c9c9;}
::-moz-placeholder {color: #c9c9c9;}
:-ms-input-placeholder {color: #c9c9c9}
::-ms-input-placeholder {color: #c9c9c9}
:placeholder-shown {color: #c9c9c9;}
/* reset style ends here */

@font-face{
	font-family:Avenir-light;
	src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face{
	font-family:Avenir-regular;
	src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face{
	font-family: Avenir-black;
	src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face{
	font-family:DroidSerif;
	src: url('../fonts/DroidSerif.ttf');
}
@font-face{
	font-family:DroidSerif-Bold;
	src: url('../fonts/DroidSerif-Bold.ttf');
}
@font-face{
	font-family: Adequate-ExtraLight;
	src: url('../fonts/Adequate-ExtraLight.ttf');
}
.font-adequate{
	font-family: Adequate-ExtraLight;
}
.font-light{
	font-family:Avenir-light;
}
.font-regular{
	font-family: Avenir-regular;
}
.font-light-droid{
	font-family:DroidSerif;
}
.font-regular-droid{
	font-family: DroidSerif-Bold;
}
.font-black{
	font-family: Avenir-black;
}
.heading{font-size: 50px;}
.sub_heading{font-size: 30px;}
.title{font-size: 32px;}
.title1{font-size: 24px;}
.title2{font-size: 20px;}
.title3{font-size: 18px;}
.title4{font-size: 16px;}
.title5{font-size: 14px;}
.title6{font-size: 12px;}
.text-white{color: #ffffff}
.conten_heading{font-size: 40px;}
.text_blue{
	color: #36c0c9;
	line-height: 1;
}
.text_white{
	color: #ffffff;
}
.text_lightblue{
	color: #6291af;
}
.brand_text{
	color: #ffffff ;
	/* width: 180px; */
	line-height: 50px !important;
	font-weight: normal !important;
}
.brand_text_black{
	color: #4a4a4a !important;
	/* width: 180px; */
	line-height: 50px !important;
	font-weight: normal !important;
}
.text_gray{
	color: #4a4a4a;
}
.text_light_gray{
	color: #666666;
}
.text_lighter_gray{
	color: #cacaca;
}
.all_border{
	background: #ffffff;
	border: solid 1px rgb(220, 220, 220);
}
/* navbar starts here */
.home_container .navbar, .allpage_navbar .navbar {
    border-radius: 0 !important;
    box-shadow: 0px 0px 7px 0px #000;
    margin: 0;
    border: none;
    font-size: 28px;
    font-weight: 600;
}
.navbar_black{
	background: rgba(0, 0, 0, 0.31);
	transition: 1s;
}
.navbar_white{
	background: #fff;	
}
#myNavbar{
	padding-right: 15px;
}
.home_container .navbar li a, .allpage_navbar .navbar li a{
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid transparent;
	transition: 1s;
}
.navbar_white li a{
	color: #4a4a4a !important;
}
/* .allpage_navbar .navbar li a{
	color: #4a4a4a !important;
} */
.home_container .navbar li:last-child, .allpage_navbar .navbar li:last-child{
	margin-left: 20px;

}
.home_container .navbar li a:hover, .home_container .navbar li a:focus, .home_container .navbar li a:active {
	border-bottom: 3px solid #f0606b;
	box-shadow: 0px 4px 6px -4px #f0606b;
}
.allpage_navbar .navbar li a:hover, .allpage_navbar .navbar li a:focus, .allpage_navbar .navbar li a:active{
	border-bottom: 3px solid #f0606b;
	box-shadow: 0px 4px 6px -4px #f0606b;
}
.navbar-nav{
	padding: 39px 0 13px 0;
}
.home_container .navbar-brand, .allpage_navbar .navbar-brand{
	height: inherit;
	padding: 16px 15px;
}
.signup_btn{
	padding: 10px 40px !important;
	text-align: center;	
}
.border_white{
	border: 1px solid #fff !important;
	transition: 1s;
	background: none;
	color: #fff;
}
.border_black{
	border: 1px solid #4a4a4a !important;
}
.signup_btn:hover, .signup_btn:focus, .signup_btn:active{
	border: 1px solid #f0606b !important;
	background: #f0606b !important;
	color: #fff !important;
}
.affix .signup_btn:hover, .affix .signup_btn:focus, .affix .signup_btn:active{
	border: 1px solid #f0606b !important;
	background: #f0606b !important;
	color: #fff !important;
}
.affix {
      width: 100%;
	  background: rgba(255, 255, 255, 1);
	  box-shadow: 0px 0px 7px 0px #777 !important;
	  transition: 1s;
}
.affix .signup_btn{
	border: 1px solid #4a4a4a !important;
	transition: 1s;
}
.affix .brand_text{
	color: #666666 !important;
}
.allpage_navbar .affix li a{
	color: #4a4a4a !important;
	transition: 1s;
} 
.affix-top {
	position: relative;
	top: 0px;
}
.gray_bg{border: solid 1px #4a4a4a !important;}
/* navbar ends here */
/* Home page starts here */
.home_heading{
	color: #fff;
	font-family: Avenir-black;
	margin-top: 30vh;
}
/* form wrapper starts here */
.get_start_wrap{
	padding: 2.4% 3%;
	background: rgba(0, 0, 0, 0.41);
	margin-top: 8.7vh;
}
.form_group{
	margin: 19px 15px;
	float: left;
	width: 36%;
}
.get_btn{
	margin: 19px 15px;
	float: left;
}
.input_box{
	font-size: 26px;
	padding: 19px 7px 2px 7px;
    background: transparent;
    border: solid 1px #fff;
	width: 100%;
	color: #ffffff;
}
.input_box:focus{
	outline: #34c0c9;
	border: solid 1px #34c0c9;
}
.getstart_btn {
	background: #34c0c9;
	color: #fff;
	border: none;
	font-size: 28px;
	padding: 10px 22px;
	border-radius: 4px;
}
.getstart_btn:hover, .getstart_btn:focus, .getstart_btn:active{
	background: #32949A;
	outline: none;
}
/* form wrapper ends here */
/* Brand logos starts here */
.footer{
	background: #f3f3f3;
	margin-top: 8.8vh;
}
.footer img{
	padding:3.5vh  0;
	background: #f3f3f3;
}
.col_padding{
	padding-left:4.7vw;
	padding-right:4.7vw;
}
/* Brand logos ends here */
/* Home page ends here */

/* Product page wrapper starts here */
.product_bg{
	background: url(../images/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: -78px;
}
.image_part{
	overflow: hidden;
	margin-left: -15px;
	margin-right: -15px;
}
.screen{
	margin-top:20vh;
}
.heading_text{
	padding: 9vh 5.5vw;
}
p>.active>a{
	color: #f0606b;
}
.managment_type{
	padding-bottom: 8vh;
	border-bottom: solid 1px #ccc;
}
.managment_type a{
	color: #4a4a4a ;
	text-decoration: none;
}
.managment_type a:hover, .managment_type a:focus{
	color: #f0606b;
}
.escalation_section, .summary_section, .analysis_section, .footer_section{
	padding-bottom: 8vh;
	padding-top: 8vh;
	border-bottom: solid 1px #ccc;
}
.benchmarker_container{
	background: #36c0c9;
	padding: 6vh 0 3vh 0;
}
.benchmarker_container img{
	width: 75%;
}
.text_shadow{
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.28);
}
.get_btn_red{
	background: #f0606b;
	margin-top: 2vh;
	border:none;
	padding: 5px 20px; 
	font-size: 24px;
	color: #fff;
	border-radius: 4px; 
}
.get_btn_red:hover, .get_btn_red:focus{
	background: #D65760;
	outline: none;
}
.footer_section .get_btn{
	float: none !important;
}
.footer_section2{
	background: #595959;
	padding: 20px 0;
}
.footer_content ul{
	list-style: none;
	padding-left: 0;
}
.footer_content ul li a{
	list-style: none;
	color: #cacaca;
	font-size: 18px;
}
.footer_content>div:first-child{
	margin-top: 18px;
}
/* .active{
	color: #f0606b !important;
} */
/* .managment_screen{
	height: 84vh;
	overflow: auto;
} */
/* Product page wrapper starts here */
/* Academy container starts here */
.academy_container{
	background: #f3f3f3;
}
.blog_section{
	margin-top: 8vh;
	
}
.border_shadow{
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
	border: solid 1px rgb(220, 220, 220);
}
.blog_img{
	background: url(../images/blog1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:40vh;
}
.date_by{
	position: absolute;
	bottom: 55px;
	left: 0%;
}
.search_box{
	width: 100%;
	height: 50px;
	border: solid 1px #bdbdbd;
	border-radius: 25px;
	padding-left: 7px;
}
.input_search_box{
	width: 86%;
	height: 48px;
	border: none;
	border-radius: 25px;
}
.input_search_box{
	outline: none;
}
.blog_img2{
	background: url(../images/blog2.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:40vh;
}
.top_cat div{
	margin: 5px 0 0 0;
	border: solid 1px rgb(220, 220, 220);
	background: #ffffff;
	padding: 13px 15px;
}
.top_Post>div{
	padding: 13px 0px;
}
.num_circle{
	width:40px;
	height: 40px;
	border-radius: 100%;
	border: solid 1px rgb(220, 220, 220);
	background: #f3f3f3;
	line-height: 40px;
	float: left;
}
/* Academy container ends here */
/*   html,body{
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;
    }  */

 /*    #wrapper{
        min-width: 1000px;
    }

    section{
        min-height: 100vh;
    } */

   /*  #first{
        color: whitesmoke;
        background: url('1.jpg') no-repeat center; 
        background-size: cover; 
    } */

    /* #first .product_bg{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		height: 80vh; 
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -99;
    } */
/* .home_image{
	position: fixed;
	z-index: 1;
	
} */
/* .content_wrap{
	background-color: #ffffff !important;
	z-index:1;
	position: relative;
} */
/*-----social icon-------*/
#top-bar .social-icons 
{ 
float:left; 
width:100%; 
}
#top-bar .social-icons li img
{ 
-webkit-transition:all 300ms linear; 
-moz-transition:all 300ms linear; 
-o-transition:all 300ms linear; -ms-transition:all 300ms linear; 
transition:all 300ms linear; 
}
.social-icons 
{ 
margin:20px 0px 0px; 
}
.social-icons li a:before 
{ 
content:''; 
}
.social-icons li a 
{ 
background:none; 
display:inline; padding:0px; 
position:static; 
}
.social-icons li 
{ 
width:29px; clear:none; 
}
.social-icons li 
{ 
behavior:url(PIE.html); 
}
.social-icons 
{ 
float:right; 
margin:0px; 
padding:0px; 
}
.social-icons li 
{ 
position:relative; 
overflow:hidden; 
width:29px; 
height:29px; 
padding:0px; 
margin:0px 3px 5px; 
display:inline-block; 
*display:inline; zoom:1;  
}
.social-icons li img 
{ 
bottom:0px; 
left:0px; 
position:absolute; 
} 
.social-icons li img:first-child 
{ 
bottom:0px; 
}
.social-icons li:hover img:first-child 
{ 
bottom:0px; z-index:1;  
}
.social-icons li:hover img:last-child 
{ 
bottom:0px; 
display: none;
}	
.team .social-icons 
{ 
float:none; 
display:inline-block; 
text-align:center; 
position:relative; 
bottom:-17px; 
}
.team .social-icons li 
{ margin:0px; 
border:3px solid #ededed; 
border-radius:30px; 
}
.social_icons{
	padding: 20px;
}
.social_icon img:hover{
	-webkit-filter: brightness(0.8);
}
/*------end-------*/
.free_trial, .reach_out{
	padding: 5px 20px;
	background: none;
	border: solid 1px #fff;
	color: #fff;
}
.free_trial:hover, .reach_out:hover, .free_trial:focus, .reach_out:focus{
	border: 1px solid #f0606b;
	background: #f0606b ;
}
.footer_input{
	height:40px;
	background: none;
	border :solid 1px #fff;
	margin-right: 10px;
	color:#fff;
}
.footer_btn{
	float: left;
}
.footer_sectionend{
	background: #313131;
	padding: 10px 0;
}
.footer_input:focus{
	outline: #34c0c9;
	border: solid 1px #34c0c9;
}
.footer_content a{
	color: #fff;
}
/* About us Satart here */
.img_section{
	padding: 15px 0 ;
}
.team_member{
	background: #f3f3f3;
	padding: 30px 0;
}
.grey_bg{
	background: #f3f3f3;
}
.team_heading{
	padding: 20px 0 40px;
}
.team_Section{
	padding: 15px;
}
.about_heading{
	padding-bottom: 20px;
}
.social_icon{
	padding-bottom: 20px;
}
.social_icon img{
	padding-right: 20px;
}
.line_height{
	line-height: 25px;
}
.demo_btn{
	padding: 10px 0 50px;
}
/* About us ends here */
/*pricing page strats here */
.pricing_heading{
	padding: 20vh 0 7vh; 
}
.pricing_detail{
	padding: 8vh;
}
.col_1{
	width: 22%;
	position: relative;
	float: left;
	min-height: 1px;
	margin-right: 0.5%;
}
.col_2{
	width: 19%;
	position: relative;
	float: left;
	min-height: 1px;
	margin-right: 0.5%;
}
.col_3{
	width: 19%;
	position: relative;
	float: left;
	min-height: 1px;
}
.pricing_btn{
	font-size: 15px;
	padding: 10px 17px;
	border: solid 1px #666666;
	background: none;
	margin:20px 0;
}
.pricing_btn:hover, .pricing_btn:focus{
	background: #f0606b;
	color: #fff;
	outline: none;
	border:solid 1px #f0606b;
}
.top_section{
	height:300px;
}

.row_title{
	line-height: 66px;
	font-family: Avenir-regular;
}
.row_title2{
	line-height: 66px;
	font-family: Avenir-regular;
	word-wrap:break-word;
    	white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
}
.row_title3{
	line-height: 66px;
	font-family: Avenir-regular;
	word-wrap:break-word;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.table_col p{
	margin-bottom: 0;
}
.long_content{
	line-height:normal;
	padding: 13px 0;
	font-family: Avenir-regular;
}
.table_col div:nth-child(2n+1){
	background: #f3f3f3;
	padding: 0 5px 0 13px;
}
.first_col{
	display: block;
}
.table_col div:nth-child(2n+2){
	background: #ffffff;
	padding: 0 5px 0 13px;
}
.row_content{
	line-height: 66px;
}
.row_heading{
	padding-top: 24px;
	display: none;
	font-family: Avenir-regular;
	text-transform: uppercase;
	margin-bottom: 0;
}
.row_content2{
	line-height: 66px;
}
.row_content3{
	line-height: 66px;
}
.row_content4{
	line-height: 66px;
}
.row_content5{
	line-height: 66px;
}	
.pricingSignup_section{
	padding:8vh 0 12vh;
	background: #011420;
	margin-bottom: 10vh;
}
.pricing_form{
	padding-top: 2vh;
}

.pricing_input, .pricing_signupbtn{
	width: 100%;
	height: 50px;
	border: none;
	background: rgba(161, 222, 255, .24);
	border-radius: 4px;
	padding: 7px;
	color: #a6c2d4;
	border: solid 1px transparent;
	margin: 15px 0;
}
.pricing_input:focus{
	border: solid 1px #36c0c9;
	outline:none;
}
.pricing_signupbtn{
	background: #36c0c9;
	color: #fff;
}
.pricing_signupbtn:hover, .pricing_signupbtn:focus{
	background: #32949A;
	border: solid 1px #32949A;
}
.faq_section h1{
	padding-bottom: 20px;
}
.faq .nav-tabs{
	border:none;
}
.faq_content{
	border-top: solid 1px #ccc;
	padding-top: 20px;
}
.faq_content>div{
	padding:20px 0;
}
.faq .nav-tabs > li a {
	color: #4a4a4a !important;
	border-bottom: solid 3px transparent;
}
.faq .nav-tabs > li.active a {
	color: #f0606b !important;
	border:none;
	border-bottom: solid 3px #f0606b;
}
/* pricing page ends here*/